#recommendation-modal {
    .modal-content {
        margin-top: 10% !important;
    }
}

.modal {
    font-family: $standard-font-normal;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    overflow: auto;
    
    .modal-content {
        margin: auto;
        position: relative;
        padding: 0;
        outline: 0;
        width: 60%;
        margin-top: 18%;
    }
    .modal-container {
        width: 100%;
    }

    .modal-title {
        font-size: 30px;
    }
    
    .modal-box {
        box-sizing: border-box;
        width: 50%;
        background-color: $white;
        float: left;
        text-align: center;
        margin-top: 15%;
    }
    .onoffswitch {
        position: relative; width: 131px;
        margin-left: 42%;
        margin-top: 40px;
        -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .onoffswitch-checkbox {
        display: none;
    }
    .onoffswitch-label {
        display: block; overflow: hidden; cursor: pointer;
        border: 2px solid #8A05BD; border-radius: 25px;
    }
    .onoffswitch-inner {
        display: block; width: 200%; margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block; float: left; width: 50%; height: 45px; padding: 0; line-height: 45px;
        font-size: 16px; color: $white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
        box-sizing: border-box;
    }
    .onoffswitch-inner:before {
        content: "ON";
        padding-right: 22px;
        background-color: $primary-color;
        color: $white;
    }
    .onoffswitch-inner:after {
        content: "OFF";
        padding-right: 28px;
        background-color: $gray; 
        color: $primary-color;
        text-align: right;
    }
    .onoffswitch-switch {
        display: block; width: 31px; margin: 7px;
        background: $white;
        position: absolute; top: 0; bottom: 0;
        right: 82px;
        border: 2px solid $primary-color;
        border-radius: 25px;
        transition: all 0.3s ease-in 0s; 
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0px; 
    }
}