.button-link {
    a {
        background-color: $white;
        text-transform: uppercase;
        text-decoration: none;
        color: $primary-color;
        font-family: $standard-font-bold;
        padding: 20px 70px;
        box-shadow: 0 3px 6px rgba(0,0,0,.16);
        border-radius: 50px;
        display: inline-block;
        border: none;
        transition: all 0.4s ease 0s;
    }
}

.hide-button-effect {
    visibility: hidden;
    opacity: 0;
    height: 0px;
    border: 0px;
}
.button-effect {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -webkit-transition: opacity 2s ease-in-out;
}