@font-face {
    font-family: 'nunito_sansbold';
    src: url('static/fonts/nunitosans-bold-webfont.woff2') format('woff2'),
         url('static/fonts/nunitosans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nunito_sansregular';
    src: url('static/fonts/nunitosans-regular-webfont.woff2') format('woff2'),
         url('static/fonts/nunitosans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'digital-7';
    src: url('static/fonts/digital-7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}