#modal {
    background-color: #8A05BD;
    width: 100%;
    height: 100%;
    margin: 0;

    #home-container {
        width: 100%;
        padding-top: 150px;
    }

    #title-presentation {
        font-size: 48px;
        text-align: center;
        color: #fff;
        font-family: 'nunito_sansbold';  
    }

    .spinner {
        border: 8px solid rgba(255, 255, 255, 0.1);
        border-left-color: #fff;
        border-radius: 50%;
        margin-left: 47.5%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        to { transform: rotate(360deg); }
    }
}