#time-modal {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    overflow: auto;

    .modal-content {
        margin: auto;
        background-color: $white;
        position: relative;
        padding: 0;
        outline: 0;
        width: 50%;
        margin-top: 270px;
    }
}