#time-modal {
    font-family: $standard-font-normal;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    overflow: auto;
    
    .modal-content {
        margin: auto;
        position: relative;
        padding: 0;
        outline: 0;
        width: 60%;
        margin-top: 160px;
    }
    .modal-container {
        width: 100%;
    }

    .modal-title {
        font-size: 20px;
    }
    
    .modal-box {
        box-sizing: border-box;
        width: 50%;
        background-color: $white;
        float: left;
        text-align: center;
    }
}

.clock {
    background-color: black;
    margin: 30px 60px;
    border-radius: 35px;
    p {
        display: inline-block;
        font-size: 80px;
        margin-top: 60px;
        font-family: 'digital-7';
        color: green;
    }
}

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .clock-button {
    background-color: $primary-color;
    color: $white;
    padding: 15px 0;
    width: 50%;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin: 16px 2px;
    cursor: pointer;
  }