#modules {
    font-family: $standard-font-bold;

    .modules-container {
        .modules-title {
            font-size: 60px;
            margin-top: 3%;
            margin-left: 12%;
            color: $primary-color;
            margin-bottom: 90px;
        }
        
        .module-icon {
            width: 60px;
            vertical-align: text-bottom;
        }

        .new-module {
            background: $primary-color;
            color: $white;
            text-decoration: none;
            border-radius: 40px;
            font-size: 16px;
            float: right;
            display: inline-flex;
            padding: 20px;
            margin-right: 140px;
            margin-top: 5px;
            
            span {
                margin-top: 3px;
                margin-right: 10px;
            }

            .plus-icon {
                width: 27px;
                margin-top: -3px;
            }
        }

        .modules-row {
            width: 100%;
        }
    
        .modules-box, #security-module {
            box-sizing: border-box;
            width: 50%;
            float: left;
            
            .title-box {
                text-align: center;
                color: $white;
                padding: 25px 0px;
                cursor: pointer;
                font-size: $modules-font-size;
                background-color: $primary-color;
                margin: 5% 20%;
                border-radius: 50px;
                box-shadow: 0 3px 6px rgba(0,0,0,.16);
            }
        }
    }
}