//colors
$primary-color: #8A05BD;
$white: #fff;
$gray: #ccc;
$dark-gray: #666;

//font
$standard-font-bold: 'nunito_sansbold';
$standard-font-normal: 'nunito_sansregular';
$modules-font-size: 18px;

//velocity
$speedometerSize : 400px;
$speedMarkerWidth : 5px;
$speedMarkerHeight : 20px;
$velocity-color : saturate( skyblue, 70%);
$totalMarkers : 13;
$kmTotal : 240;